@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!-- iPhone 5 -->
    <link href="content/images/ios/apple-touch-icon-114x114.png"
          sizes="114x114"
          rel="apple-touch-icon">
    <link href="content/images/ios/apple-touch-startup-image-640x1096.png"
          media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPad (Retina) -->
    <link href="content/images/ios/apple-touch-icon-144x144.png"
          sizes="144x144"
          rel="apple-touch-icon">
    <link href="content/images/ios/apple-touch-startup-image-1536x2008.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (orientation: portrait)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <link href="content/images/ios/apple-touch-startup-image-1496x2048.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (orientation: landscape)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <title>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</title>
    <style type="text/css">
        @@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
    </style>
    <style type="text/css">
        @@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
    </style>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    @Styles.Render("~/Content/css")
    @RenderSection("CustomCss", false)
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script type="text/javascript">
        var pageTitle = "@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]";
    </script>
    @RenderSection("HeaderJs", false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @RenderSection("TopMenu", true)
                </ul>
                @RenderSection("TopMenuAdditional", false)
                <form class="navbar-form navbar-right visible-md visible-lg">
                    <div class="form-group">
                        <input type="text" id="global-search-box" autocomplete="off" class="form-control" placeholder="Enter Command">
                    </div>
                    <!--/.form-group -->
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
        <!--/.container -->
    </div>
    <div class="container">
        @RenderBody()
        @{
            var adClient = System.Configuration.ConfigurationManager.AppSettings["ad_client"];
            var adSlot = System.Configuration.ConfigurationManager.AppSettings["ad_slot"];
        }
        @if (!string.IsNullOrWhiteSpace(adClient) && !string.IsNullOrWhiteSpace(adSlot))
        {
            <div style="text-align: center">
                <script type="text/javascript">
                    <!--
                                        google_ad_client = "@adClient";
                    /* TrainNotifier */
                    google_ad_slot = "@adSlot";
                    google_ad_width = 728;
                    google_ad_height = 90;
                    //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        }
    </div>
    <div class="container">
        <hr />
        <footer>
            <p>
                Copyright &copy; Michael Pritchard 2012-13. <a href="https://twitter.com/blueghostuk" class="twitter-follow-button" data-show-count="false">Follow @@blueghostuk</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <br />
                Contains information of Network Rail Infrastructure Limited licensed under the following licence:
                <a href="http://www.networkrail.co.uk/data-feeds/terms-and-conditions" target="_blank" title="Opens in new window"><i class="icon-share-alt" title="Opens in new window"></i>www.networkrail.co.uk/data-feeds/terms-and-conditions</a>
                <br />
                <a href="http://blueghostuk.github.com/trainnotifier-webclient/">About this project</a>
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        TrainNotifier.Common.serverSettings = {
            apiUrl: "@System.Configuration.ConfigurationManager.AppSettings["apiUrl"]",
            wsUrl: "@System.Configuration.ConfigurationManager.AppSettings["wsUrl"]",
            apiName: "@System.Configuration.ConfigurationManager.AppSettings["apiName"]"
        };
    </script>
    @RenderSection("FooterJs", required: false)
    @{
        var adSenseCode = System.Configuration.ConfigurationManager.AppSettings["ad_sense_code"];
        var adSenseUrl = System.Configuration.ConfigurationManager.AppSettings["ad_sense_url"];
    }
    @if (!string.IsNullOrWhiteSpace(adSenseCode) && !string.IsNullOrWhiteSpace(adSenseUrl))
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@adSenseCode', '@adSenseUrl');
            ga('send', 'pageview');

        </script>
    }
</body>
</html>
