@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        tr.info > td {
            color: black !important;
        }

        .table tbody tr.info > td {
            background-color: #efefef;
        }
        .table tbody tr.info:hover > td {
            background-color: #efefef;
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
    </script>

    @Scripts.Render("~/bundles/ppm")
}
@section TopMenu{
    <li><a href="~/index">Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li><a href="~/train">Train</a></li>
    <li class="active"><a>PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="row-fluid">
    <div class="span2  phone-hide">
        <div class="well sidebar-nav">
            <ul class="nav nav-list" id="commandOptions">
                <li class="nav-header">Operator:</li>
                <li class="active"><a href="#all" onclick="showAll(); return false;">All</a></li>
                <!-- ko foreach: $data -->
                <li data-bind="attr: { id: 'op-' + Id() }"><a data-bind="text: Operator, attr: { href: '#' + Id(), onclick: 'viewOperator(\'' + Id() + '\'); return false;' }"></a></li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
    <div class="span10">
        <div class="alert alert-info" id="title">
            Last Updated: <span data-bind="text: ts"></span> <span style="font-size:small;" title="Approx. update time">(Update in &asymp; <span data-bind="text: next"></span>s)</span>
        </div>
        @RenderPage("_ppmTable.cshtml")
        @RenderPage("_ppmOperator.cshtml")
    </div>
    <!--/span12-->
</div>
<!--/row-fluid-->
