@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;

@section CustomCss{
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
}
@section FooterJs{
    <script type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]&sensor=false">
    </script>
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
        var wsPort = "@System.Configuration.ConfigurationManager.AppSettings["wsPort"]";
        var apiKey = "@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]";
    </script>

    @Scripts.Render("~/bundles/train")
}
@section TopMenu{
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li class="active"><a href="~/train">Train</a></li>
    <li><a href="~/live">Live Feed</a></li>
}
<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav" id="locationDetails">
            <ul class="nav nav-list">
                <li class="nav-header">Commands</li>
                <li><a href="#getuid:" onclick="setCommand('getuid:');"><strong>Get Train:</strong><br />
                    &nbsp;&nbsp;getuid:[train uid]#[date:YYYY-MM-DD]</a></li>
                <li><a href="#gettrain:" onclick="setCommand('gettrain:');"><strong>Get Train:</strong><br />
                    &nbsp;&nbsp;gettrain:[train id]:[train uid]</a></li>
                <li><a href="#subtrain:" onclick="setCommand('subtrain:');"><strong>Subscribe to Train:</strong><br />
                    &nbsp;&nbsp;subtrain:[train id]</a></li>
            </ul>
        </div>
        <div class="well sidebar-nav" id="stationDetails">
            <ul class="nav nav-list">
                <li class="nav-header" data-bind="text: toDisplay()">Station Details</li>
                <li><strong>CRS:</strong><span data-bind="text: locationCRS"></span></li>
                <li><a data-bind="attr: { href :'search-schedule#listorigin:' + locationStanox() }" title="View Trains Starting from this station">Trains Starting From</a></li>
                <li><a data-bind="attr: { href :'search#liststation:' + locationStanox() }" title="View Trains Calling from this station">Trains Calling At</a></li>
            </ul>
        </div>
    </div>
    <!--/span2-->
    <div class="span10">
        <div class="row alert alert-info" id="no-results-row" style="display: none">
            <strong>No Results Found</strong>
        </div>
        <div class="row btn-group">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>
                <input type="text" id="filter-command" class="span9" placeholder="Enter Command" />&nbsp;&nbsp;&nbsp;
                <a class="btn btn-disconnect" id="btn_Command" onclick="parseCommand();" disabled="disabled" title="Send Command"><i class="icon-arrow-right"></i></a>
                <a class="btn btn-connect" id="btn_Connect" onclick="connectWs()" title="Connect to server"><i class="icon-play"></i></a>
                <a class="btn btn-disconnect" onclick="disconnect()" disabled="disabled" title="Disconnect from server"><i class="icon-stop"></i></a>
                <a class="btn" href="#" id="status">Connection Status</a>
            </div>
        </div>
        <div class="progress progress-striped active hide">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="row" id="title" style="margin-top: 5px; font-size: large;" data-bind="visible: Id">
            <span data-bind="text: Id" style="font-weight: bold; font-size: xx-large; margin-left: 5px;"></span>
            <span data-bind="text: From" class="stationName" style="font-weight: bold; font-size: x-large;"></span><span data-bind="visible: To"> to </span>
            <span data-bind="text: To" class="stationName" style="font-weight: bold; font-size: x-large;"></span>
            <span data-bind="text: Start"></span><span data-bind="visible: End"> - </span>
            <span data-bind="text: End"></span>
            <hr style="margin: 5px 0px;" />
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#mix" data-toggle="tab">Schedule &amp; Live</a></li>
                <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
                <li><a href="#trains" data-toggle="tab">Live</a></li>
                <li><a href="#livemap" onclick="showCurrentTrainMap();" data-toggle="tab">Live Map</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="mix">
                    @RenderPage("_trainMix.cshtml")
                </div>
                <div class="tab-pane" id="schedule">
                    @RenderPage("_trainSchedule.cshtml")
                </div>
                <div class="tab-pane" id="trains">
                    @RenderPage("_trainLive.cshtml")
                </div>
                <div class="tab-pane" id="livemap">
                    @RenderPage("_trainMap.cshtml")
                </div>
            </div>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
