@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    @Styles.Render("~/bundles/css/train")
}
@section FooterJs{
    @Scripts.Render("~/bundles/js/train")
}
@section TopMenu{
    <li><a href="~/">Home</a></li>
    <li><a href="~/search-schedule">Search Schedule</a></li>
    <li class="active"><a>Train</a></li>
    <li><a href="~/ppm">PPM</a></li>
    <li><a href="~/live">Live Feed</a></li>
    <li><a href="#" id="advancedSwitch" title="Switch Mode">Advanced Mode</a></li>
}
@section TopMenuAdditional{
    <a class="btn btn-top btn-disconnect" id="btn_Subscribe" onclick="subTrain();" disabled="disabled" title="Get Live Updates for this train"><i class="icon-refresh"></i></a>
    <a class="btn btn-top" id="status" onclick="tryConnect(); return false;">Connection Status</a>
}
<div class="row-fluid">
    <div class="span2 phone-hide advanced" style="display: none;">
        <div class="well sidebar-nav">
            <ul class="nav nav-list" id="commandOptions">
                <li class="nav-header">Commands</li>
                <li id="get"><a href="#get/" onclick="thisPage.setCommand('get/');"><strong>Get Train:</strong><br />
                    &nbsp;&nbsp;get/[train uid]/[date:YYYY-MM-DD]</a></li>
                <li id="sub"><a href="#sub/" onclick="thisPage.setCommand('sub/');"><strong>Subscribe to Train:</strong><br />
                    &nbsp;&nbsp;sub/[train uid]/[date:YYYY-MM-DD]</a></li>
            </ul>
        </div>
        <div class="well sidebar-nav station-details">
            <ul class="nav nav-list">
                <li class="nav-header" data-bind="text: name">Station Details</li>
                <li><strong>CRS:</strong><span data-bind="text: crsCode"></span></li>
                <li><a data-bind="attr: { href: 'search/from/' + url(), onclick: 'setHash(\'from/' + url() + '\');' }" title="View Trains Starting from this station">Trains Starting From</a></li>
                <li><a data-bind="attr: { href: 'search/at/' + url(), onclick: 'setHash(\'at/' + url() + '\');' }" title="View Trains Calling at this station">Trains Calling At</a></li>
                <li><a data-bind="attr: { href: 'search/to/' + url(), onclick: 'setHash(\'to/' + url() + '\');' }" title="View Trains Terminating at this station">Trains Terminating At</a></li>
            </ul>
        </div>
    </div>
    <!--/span2-->
    <div class="span10" id="resultsBlock">
        <div class="row alert alert-info hide" id="no-results-row">
            <strong>No Results Found</strong>
        </div>
        <div class="row alert alert-error hide" id="error-row">
            <strong>Error fetching data. Please Refresh to try again</strong>
        </div>
        <div class="progress progress-striped active hide">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="row" id="title" data-bind="visible: id">
            <span data-bind="text: id" class="xxl"></span>
            <span data-bind="text: from" class="stationName xl"></span><span data-bind="visible: to">&nbsp;to&nbsp;</span>
            <span data-bind="text: to" class="stationName xl"></span>
            <span data-bind="text: start"></span><span data-bind="visible: end"> - </span>
            <span data-bind="text: end"></span>
            <span data-bind="text: fullTitle" class="hide"></span>
            <hr style="margin: 5px 0px;" />
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#mix" data-toggle="tab">Train</a></li>
                <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
                <li><a href="#trains" data-toggle="tab">Live</a></li>
                <li><a href="#details" data-toggle="tab">Details</a></li>
                <li><a href="#map" data-toggle="tab">Map</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="mix">
                    @RenderPage("_trainMix.cshtml")
                </div>
                <div class="tab-pane" id="schedule">
                    @RenderPage("_trainSchedule.cshtml")
                </div>
                <div class="tab-pane" id="trains">
                    @RenderPage("_trainLive.cshtml")
                </div>
                <div class="tab-pane" id="details">
                    @RenderPage("_trainDetails.cshtml")
                </div>
                <div class="tab-pane" id="map">
                    @RenderPage("_trainMap.cshtml")
                </div>
            </div>
        </div>
    </div>
    <!--/span10-->
</div>
<!--/row-fluid-->
